<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dungeon_Trading.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dungeon_Trading.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dungeon_Trading.Settings>
            <setting name="TownPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GoodsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TownR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TownC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoodsR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoodsC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OppR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OppC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OppPath" serializeAs="String">
                <value />
            </setting>
        </Dungeon_Trading.Settings>
    </userSettings>
    <applicationSettings>
        <Dungeon_Trading.Settings>
            <setting name="Version" serializeAs="String">
                <value>a 0.1</value>
            </setting>
            <setting name="_ProgrammName" serializeAs="String">
                <value>Dungeon Trading</value>
            </setting>
        </Dungeon_Trading.Settings>
    </applicationSettings>
</configuration>